a{
    text-decoration: none;
    color: #FFF;
}

a:hover{
    color: #AAAAAA;
}

body{
    background-color: #FF4599;
    object-fit: contain;
    font-family: 'Orbitron', sans-serif;
}

input{
    background-color: #FFAAFF;
    box-shadow: 2px 2px 2px #161616;
    align-content: center;
}

input[type=text]{
    color: #000077;
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;
}

#box{
    background-color: #FF1616;
    max-width: 750px;
    box-shadow: 1px 2px 3px #163216;
    color: #FFEEFF;
    padding: 10%;
    margin: 1% 2% 1% 2%;
    text-align: center;
}

header, footer{
    background-color: #440000;
    box-shadow: 1px 2px 4px #777;
    color: #FFF;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
    font-size: 10px;
}

#ageForm{
    background-color: #770000;
    box-shadow: 1px 2px 3px 1px #161616;
    padding: 1%;
    margin-left: 250px;
    max-width: 250px;
    border: 1px #161632;
}

#maxForm{
    background-color: #330000;
    box-shadow: 1px 2px 3px #444444;
    padding: 1%;
    margin: 1%;
    max-width: 150px;
    height: 100px;
    float: left;
}

#lightForm{
    background-color: #FF8888;
    box-shadow: 1px 2px 3px #887766;
    padding: 1%;
    margin: 1%;
    max-width: 150px;
    height: 100px;
    float: left;
}

#mediumForm{
    background-color: #FF6666;
    box-shadow: 1px 2px 3px #776655;
    padding: 1%;
    margin: 1%;
    max-width: 150px;
    height: 100px;
    float: left;
}

#heavyForm{
    background-color: #FF3333;
    box-shadow: 1px 2px 3px #665544;
    padding: 1%;
    margin: 1%;
    max-width: 150px;
    height: 100px;
    float: left;
}

#contain{
    width: 800px;
    max-height: 150px;
    padding: 5%;
}